/*
Syntax error: File to import not found or unreadable: includes/colors.
              Load paths:
                /Users/chris/Sites/foundation-sass/sdssadbs232as/sass
                /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/frameworks/blueprint/stylesheets
                /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/frameworks/compass/stylesheets
                /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/foundation-sass-2.1/stylesheets
                Compass::SpriteImporter
        on line 3 of /Users/chris/Sites/foundation-sass/sdssadbs232as/sass/forms.sass

1: /Users/chris/Sites/foundation-sass/sdssadbs232as/sass/forms.sass

Backtrace:
/Users/chris/Sites/foundation-sass/sdssadbs232as/sass/forms.sass:3
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/import_node.rb:42:in `import'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:147:in `rescue in visit_import'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:152:in `visit_import'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `block in compile'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `block in run'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/commands/update_project.rb:37:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/commands/stamp_pattern.rb:76:in `perform'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/bin/compass:25:in `block in <top (required)>'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/bin/compass:39:in `call'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/bin/compass:39:in `<top (required)>'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/bin/compass:19:in `load'
/Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: includes/colors.\A               Load paths:\A                 /Users/chris/Sites/foundation-sass/sdssadbs232as/sass\A                 /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/frameworks/blueprint/stylesheets\A                 /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/compass-0.11.5/frameworks/compass/stylesheets\A                 /Users/chris/.rvm/gems/ruby-1.9.2-p290@foundation-sass/gems/foundation-sass-2.1/stylesheets\A                 Compass::SpriteImporter\A         on line 3 of /Users/chris/Sites/foundation-sass/sdssadbs232as/sass/forms.sass\A \A 1: /Users/chris/Sites/foundation-sass/sdssadbs232as/sass/forms.sass"; }
